html {
    scroll-behavior: smooth;
    transition-duration: 3s;
}

:root {
    --primary-bg: #eee;
    --primary-fg: #222;
    --secondary-bg: #ddd;
    --secondary-fg: #555;
    --primary-btn-bg: #222;
    --primary-btn-fg: #fff;
    --secondary-btn-bg: #dd3134;
    --secondary-btn-fg: #fff;
  }
  .dark-mode {
    --primary-bg: #1e2129;
    --primary-fg: #fff;
    --secondary-bg: #1e2129;
    --secondary-fg: #aaa;
    --primary-btn-bg: #ddd;
    --primary-btn-fg: #000;
    --secondary-btn-bg: #780404;
    --secondary-btn-fg: #ddd;
  }

  body {
    font-family: Lato, sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    transition: all 0.5s ease-in-out;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

#dark-mode-toggle {
    padding-right: 60px;
    cursor: pointer;
    font-size: 30px;
    fill: #444;
  }

.pages a{
    padding-left: 60px;
}

.pages img{
    width: 80px;
}

nav {   
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: normal;
    font-size: large;
    color: var(--primary-fg);
}

nav li a:hover{
    font-weight: bolder;
}

.home{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 120px;
}

.home .info{
    padding: 32px;
}

.home img{
    max-width: 40%;
    height: auto;
    border-radius: 50px;
}

.about{
    margin: 120px 60px 120px 60px;
    background-color: var(--secondary-bg);
}

.about .aboutMe{
    padding: 60px 120px 60px 120px;
}

.about h1{
    text-align: center;
}

.about p{
    text-align: justify;
}

.experiences{
    margin: 60px;
    padding: 60px 120px 60px 120px;
    align-items: center;
}

.experiences h1{
    text-align: center;
}

.experiences .work{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;
}

.education{
    margin: 60px;
    padding: 60px;
    align-items: center;
}

.education h1{
    text-align: center;
}

.detailEducation{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 120px;
}

.detailEducation img{
    width: 240px;
}

.skills{
    margin: 60px;
    padding: 60px;
    align-items: center;
}

.skills h1{
    text-align: center;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;
    justify-content: center;
}

.skills ul li{
    list-style-type: none;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 20px;
}

.interests{
    margin: 60px;
    padding: 60px;
    align-items: center;
}

.interests h1{
    text-align: center;
}

.detailInterests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.detailInterests img{
    width: 320px;
    border-radius: 10px;
}

.interests-3 img{
    width: 240px;
}

.interests-5 img{
    width: 240px;
}

.awards{
    margin : 60px;
    padding: 60px 120px 0px 120px;
    align-items: center;
}

.awards h1{
    text-align: center;
}

.awards .award{
    align-items: center;
}

.award{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 60px;
}

.detailAward{
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.detailAward > div{
    text-align: justify;
}

.footer{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.container{
    margin:auto;
}

.row{
	display: flex;
    justify-content: space-between;
}

.footer-col{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    align-items: baseline;
}

.footer-col img{
    width: 60px;
}

.footer-col p{
	font-size: 18px;
	/* color: #ffffff; */
	font-weight: 500;
	position: relative;
    margin-right: 32px;
}

.footer-col p::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col .social-media a{
	display: inline-block;
	height: 40px;
	width: 40px;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	/* color: #ffffff; */
	transition: all 0.5s ease;
}

.footer-col .social-media a:hover{
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}
